.first-box-container {
    width: 200px;
    height: 100px;
    left: 10px;
    position: absolute;
    background-color: red;
    padding: 20px;
    text-transform: uppercase; 
    border-style:solid;
    border-width : 20px;
    border-color: green;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    left: 460px;
    position: absolute;
    background-color: yellow;
    padding: 20px;
    text-transform: uppercase; 
    border-style:solid;
    border-width : 20px;
    border-color: red;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    left: 910px;
    position: absolute;
    background-color: green;
    padding: 20px;
    text-transform: uppercase; 
    border-style:solid;
    border-width : 20px;
    border-color: yellow;
  }